{% extends "base/base.html" %}
{% load static %}



{% block body_main %}
<h3>Survey</h3>
<div class="row">
    <div class="col-md-6">
        <table>
        {{ survey_form.as_table}}
        </table>


    </div>
    <div class="col-md-6">
        <form method="POST">
            {% csrf_token %} 
            <table>
            {% for ly in layouts  %}
            <tr>
                <td><button name="edit_layout" value={{ ly.id }}>Edit</button></td>
                <td> {{ly.version}}</td>
                <td> {{ly.description}}</td>
                <td> {{ly.designer}}</td>
                <td> {{ly.label}}</td>
                <td> {{ly.group}}</td>
                <td> {{ly.created}}</td>
            </tr>
            {% endfor %}
            </table>
        </form>
    </div>
</div>

<hr>
<h3>Layout</h3>
<div class="row">
    
    <div class="col-md-6">
        <form method="POST">
            {% csrf_token %}
            <table>
            {{ layout_form.as_table}}
            </table>

        {% if layout  %}
            <button name="clone_layout">Clone</button>
            <button name="delete_layout">Delete</button>
    
        {% else %}
            
            <button name="add_layout">Add layout</button>
        {% endif %} 
            <input type="hidden" name="survey_id" value={{survey_id}}>

    {% if layout %}
    
        <h3>Select Questions</h3>
        <button name="add_selected" value={{ layout.id }}>Add Selected questions</button>
      <table  class="table">
        {% for q in questions  %}
        <tr> 
            <td><input type="checkbox" name="q_select" value="{{q.id}}"></td> 
            <td>{{ q.format}}</td>
            <td>{{ q.group }}</td>
            <td>{{ q.label }}</td>
            <td>{{ q.question}}</td>
        </tr>
        {% endfor %}
    </table>

    {% endif %}

    <input type="hidden" name="edit_layout" value="{{ layout.id}}">

        </form>

    </div>






    <div class="col-md-6">
            <table class="table">
            <tr>
                    <th></th>
                    <th> Page</th>
                    <th> Sequence</th>
                    <th>Format</th>
                    <th> Question</th>
                    <th></th>
            </tr>

            {% for i in items  %}
        <form method="POST">
            {% csrf_token %}
            <tr>
                <td> 
                    <button name="item_update" value="{{ i.id }}">Update</button> 
                </td>
                <td> <input type="number" name="page" value="{{i.page}}"></td>
                <td> <input type="number" name="sequence" value="{{i.sequence}}"></td>
                <td> {{i.question.format}}</td>
                <td> {{i.question.question}}</td>
                <td>    <button name="item_remove" value="{{ i.id }}">Remove</button> </td>
            </tr>
            <input type="hidden" name="edit_layout" value={{layout.id}}>
        </form>
            {% endfor %}
            
            </table>
    </div>
</div>


{% endblock %}