{% extends "base/base.html" %}
{% load static %}



{% block body_main %}
<h2>Survey</h2>







<form method="POST">
    {% csrf_token %}

    <table >
    {{ survey.as_table }}
    <tr>
        <td><button name="create_survey">Create a new Survey</button></td>
        <td></td>
    </tr>
    </table>
</form>    
 
<h3>Surveys</h3>
<table  class="table">
    {% for s in survey_list %}
        <tr><td><a href='/layout/?survey_id={{s.id}}'> Layout</a></td>
            <td>{{ s.name }}</td>
            <td>{{ s.requester }}</td>
            <td>{{ s.description }}</td>
            <td>{{ s.subject }}</td>
            <td>{{ s.label }}</td>
            <td>{{ s.group }}</td>
            <td>{{ s.created }}</td>
    {% endfor %}
</table>

<form method="POST">
    {% csrf_token %}

    <div>
        <select name="action" id="">
            <option value="noop">--Select Action--</option>
            <option value="upload">Upload Questions</option>
            <option value="delete">Delete Selected Files</option>
        </select>
        <button type="submit">Go</button>
    </div>
    <hr>
    <h3>File List</h3>
    <table  class="table">
        {% for file in file_list  %}
        <tr> 
            <td><input type="checkbox" name="file_select" value="{{file.id}}"></td> 
            <td>{{ file.description}}</td>
            <td>{{ file.document}}</td>
            <td>{{ file.created }}</td>
        </tr>
        {% endfor %}
    </table>
    <hr>
    <h3>Questions</h3>
   <table  class="table">
        {% for q in questions  %}
        <tr> 
            <td><input type="checkbox" name="q_select" value="{{q.id}}"></td> 
            <td>{{ q.format}}</td>
            <td>{{ q.group }}</td>
            <td>{{ q.label }}</td>
            <td>{{ q.question}}</td>
        </tr>
        {% endfor %}
    </table>

    <h3>Question Labels</h3>
   <table  class="table">
        {% for q in question_label_count  %}
        <tr> 
            <td>{{ q.label }}</td>
            <td>{{ q.num_labels }}</gtd>
        </tr>
        {% endfor %}
    </table>



</form>
{% endblock %}