{% extends "base/base.html" %}
{% load static %}

{% block body_main %}
<style>
.qtable input {
    width:60px;

}
.bordered {
    border-collapse:collapse;
    border:2px solid silver;
    margin:1em;
}
</style>




<div class="row">
    <div class="col-md-3 bordered">
        <div class="p-3">
            <form method="POST">
                {% csrf_token %}
                <select onchange="this.form.submit()" name="survey_select" >
                    <option value="null">--Select a Survey--</option>
                    {% for s in survey_list %}
                    <option value="{{s.id}}"
                    {% if sclass.survey.id == s.id %} selected {% endif %}
                    >{{s.name}} - {{s.subject}} - {{s.label}} </option>
                    
                    {% endfor %}
                    <option value="new">--Create A New Survey--</option>

                </select>
            </form>
        </div>
        <br>
        {% if sclass.survey_form %}
            <form method="POST">
                {% csrf_token %}
                <table >
                {{ sclass.survey_form.as_table }}
                <tr>
                    <td>
                    {% if not sclass.survey %}
                        <button name="create_survey">Create a new Survey</button></td>
                    {% endif %}
                    
                    
                    <td></td>
                </tr>
                </table>
            </form>
        {% endif %}
    {% if sclass.survey.id %}
    <hr>
    <p><b>CSV Question File Upload</b></p>
    <hr>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ question_upload_form.as_p }}
        <button type="submit"  name="upload_file">Upload</button>
        
        {% if sclass %}
            <input type="hidden" name="survey" value="{{sclass.survey.id}}">
        {% endif %}
    </form>
    {% endif %}
    </div>
    <div class="col-md-8">
        <h3>{{sclass.survey.name }}</h3>
        <h5>{{sclass.survey.description }}</h5>
        <p>{{sclass.survey.created }}</p>
        {% if sclass.questions %}
        <table class="table table-sm table-striped qtable">
                <tr>
                    <th>Seq</th>
                    <th>Format</th>
                    <th>Question</th>
                </tr>       
            {% for q in  sclass.questions %}
                    <tr>
                    <form method="POST">
                    {% csrf_token %}
                        <td><input onchange="this.form.submit()" type="number" name="sequence" value="{{ q.sequence}}"></td>    
                        <td>{{q.format}}</td>
                        <td>{{q.question}}</td>
                        <input type="hidden" name="survey" value="{{sclass.survey.id}}">                    
                        <input type="hidden" name="update_item" value="{{q.id}}">                    
                    </form>
                    </tr>
            {% endfor %}
        </table>
    
    </div>
    {% endif %}
</div>   
{% endblock %}