
<div class="card">
  <div  class="card-header">
      <h5>{{survey.name}}</h5>
			<span class="nameHeader" *ngIf="student.test_code">
				Test Code : {{ student.test_code }} 
				Grade : {{ student.grade_level }} </span><br>
      <span  class="nameHeader" *ngIf="course">
				Teacher : {{ course.instructor }}
      	Course : {{ course.title }} </span>
  </div>
  <div class="card-body">
		<div class="list-container answer-background">

		
		<div [ngSwitch]="surveyStep">
			
			<app-survey-zero *ngSwitchCase="'0'"
				[student]="student"
				(studentOut)="register_student_header($event)">
			</app-survey-zero>
			
			<app-survey-one *ngSwitchCase="'1'"
				[courses] = "courses"
				[studentId] = "student.id"
				(courseOut)="register_course($event)">
			</app-survey-one>
			
			<app-survey *ngSwitchCase="'2'"
				[student]="student" 
				[course]="course" 
				(surveyOut)="surveyOut()">
			</app-survey>
		</div>
	</div>
</div>


























