{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="favicon.ico">

<!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="/static/bootstrap-4.2.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/mcsap.css">
 
    <title>Mount Carmel School Admissions System</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body >
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="/static/img/MCSIcon.png" width="40"  >
      Mount Carmel School Admissions Portal
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
            {% if request.user.is_staff %}
            <a class="nav-item nav-link" href="{% url 'portal' %}">Portal</a>
            {% endif %}
            <a class="nav-item nav-link" href="{% url 'pwd_change' %}">Change Password</a>

        </div>
        
        <span class="navbar-text">                    
          <span >{{ user.username }}</span>
          <span ><a class="p1" href="{% url 'logout_request' %}"><h6>Logout</h6></a></span>
        </span>
    </div>
  </nav>  
<div class="fluid-container">
  {% block body_main   %}
  {% endblock %}
</div>

  <script src="/static/js/jquery-3.3.1.min.js" ></script>
  <script src="/static/bootstrap-4.2.1-dist/js/bootstrap.min.js"></script>
  
  <script type="text/javascript" src="{% static 'ang/dashboard/runtime.js' %}"></script>
  <script type="text/javascript" src="{% static 'ang/dashboard/polyfills.js' %}"></script>
  <script type="text/javascript" src="{% static 'ang/dashboard/main.js' %}"></script>

  </body>
</html>
