<div *ngIf="page_number < questions.length">
  <div>
    <app-survey-check 
          [question]="questions[page_number].question" 
          (marked)="mark_answer($event)">
    </app-survey-check>
  </div>
</div>
<div *ngIf="page_number >= questions.length">
  <button class="mb-2 btn btn-primary" (click)="next_course()">Next Course</button>
  <hr>
  <app-survey-answer [studentId]="student.id"></app-survey-answer>
  <hr>
  <button  class="mt-2 btn btn-success" (click)="finished()" >Finished Survey</button>
</div>
