<div *ngIf="page_number < questions.length">
  <div>
    <app-survey-check 
          [question]="questions[page_number].question" 
          (marked)="mark_answer($event)">
    </app-survey-check>
  </div>
</div>
<div *ngIf="page_number >= questions.length">
  <div *ngFor="let rec of answered ">
    {{rec | json }}
  
  </div>
  <button (click)="next_course()">Next Course</button>
  <button (click)="finished()" >Finished Survey</button>
  <app-survey-answer [studentId]="student.id"></app-survey-answer>
</div>
