{% load staticfiles %}


<!DOCTYPE HTML>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/survey.css">
<!-- Latest compiled and minified CSS -->
<script src="/static/js/jquery-3.3.1.min.js" ></script>
<link rel="stylesheet" href="/static/bootstrap-4.2.1-dist/css/bootstrap.min.css">
<script src="/static/bootstrap-4.2.1-dist/js/bootstrap.min.js"></script>


    <title>Mount Carmel School Survey Dolphin</title>

</head>
<body >
    <div class="container">
        <div class="row">
            
            <div class="col-md-3">
            </div>
  
            <div class="col-md-6">
                <div class="mt-2 mb-4 " style="text-align:center">
                        <div><img src='/static/img/MCSIcon.png'></div>
                </div>
            </div>
            
            <div class="col-md-3">
            </div>
        </div>
        <hr>
        <div  style="width:70%" class=" mx-auto p-3 grad-grey" >
            {% block body_main   %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
