{% load staticfiles %}


<!DOCTYPE HTML>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Latest compiled and minified CSS -->
<script src="/static/js/jquery-3.3.1.min.js" ></script>
<link rel="stylesheet" href="/static/bootstrap-4.2.1-dist/css/bootstrap.min.css">
<script src="/static/bootstrap-4.2.1-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/survey.css">


    <title>Mount Carmel School Survey Dolphin</title>

</head>
<body >


 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="/static/img/MCSIcon.png" width="40"  >
      Mount Carmel School Survey Dolphin
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{% url 'main' %}">Main Survey Page</a>
                <a class="nav-item nav-link" href="{% url 'survey' %}">Survey Create Page</a> 
                <a class="nav-item nav-link" href="{% url 'upload' %}">Upload CSV File of questions</a>
        </div>
        
    </div>
  </nav>  
  <div class="container-fluid">
            {% block body_main   %}
            {% endblock %}
   </div>
</body>
</html>
